body {
  margin: 0 auto;
  max-width: 800px;
  font-family: Helvetica, 'Trebuchet MS', Verdana, sans-serif;
}
main,
.Header {
  padding-left: 150px;
  font-size: 14px;
}
.Profile__picture {
  position: absolute;
}
