body {
  background-color: rgb(228, 228, 228);
  max-width: 800px;
  padding-top: 50px;
  margin: 0 auto;
  color: #000;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.Resume__header {
  font-size: 50px;
  margin-bottom: 100px;
  text-align: center;
}
.Resume__logo {
  max-width: 80%;
  display: block;
  max-height: 300px;
  margin: 0 auto;
}
.Resume__event--small {
  display: none;
}
.Resume__event__year {
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.Resume__event__position {
  padding: 10px 0;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
}
.Resume__event--right {
  border-bottom: 1px solid rgb(78, 78, 78);
  margin-bottom: 50px;
  padding: 0 20px 50px;
}
@media screen and (min-width: 960px) {
  .Resume__header {
    font-size: 50px;
    right: 5px;
    position: relative;
    margin-bottom: 50px;
    background-color: rgb(228, 228, 228);
    line-height: 75px;
    z-index: 9;
  }
  .Resume__event--right {
    border: none;
    margin: 0;
    padding: 0;
  }
  .Resume__Timeline {
    width: 5px;
    background-color: rgb(10, 18, 131);
    position: absolute;
    top: 100px;
    bottom: 100px;
  }
  .Resume__event {
    margin-left: 100px;
    line-height: 50px;
    font-size: 23px;
    min-height: 300px;
    margin-bottom: 65px;
    position: relative;
  }
  .Resume__event--small {
     min-height: 100px;
  }
  .Resume__left--empty {
    position: relative;
    top: 75px;
  }
  .Resume__logo {
    max-width: 200px;
    display: block;
    max-height: 150px;
  }
  .Resume__logo--ru, .Resume__logo--lbhi {
    position: relative;
    bottom: 35px;
  }
  .Resume__event__year {
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: -173px;
    top: 0;
    width: 150px;
    line-height: 30px;
    background-color: rgb(228, 228, 228);
    text-align: center;
  }
  .Resume__event__position {
    padding: 10px 0;
    font-size: 26px;
  }
  .Resume__link {
    text-decoration: none;
    color: rgb(238, 49, 49);
  }
  .Resume__event--empty {
    min-height: 200px;
  }
  .Resume__event--small {
    display: block;
  }
}
@media screen and (min-width: 1600px) {
  .Resume__left {
    position: absolute;
    left: -44%;
  }
  .Resume__header {
    right: 103px;
  }
  .Resume__left--empty {
    position: absolute;
    top: auto;
  }
}
